.header{
	cursor:pointer;
}
a.custombtn:hover{
	text-decoration: none;
}
.block{
  margin-top:2.127659574468085%;
  *margin-top:2.074468085106383%;
}
img.logo{
	width:100%;
}
a.custombtn{
	border-radius: 15%;
	background:rgb(255, 122, 0);
	text-align:center;
	color:#fff;
	display:block;
}
.address{
	text-align:center;
}

body .gradient{
	box-shadow:1px 1px 15px #000;

}
.add{
  margin-top:2.127659574468085%;
  *margin-top:2.074468085106383%;
}
#drag-images
{
  background-color: #FFFFFF;
  border: 5px dashed #CCCCCC;
  color: #CCCCCC;
  font-size: 30px;
  height: 128px;
  line-height: 128px;
  text-align: center;
  width: 128px;
	cursor: pointer;
}

.candrag
{
	border: 5px dashed #CCCCCC;
}